$color-red: #FF0000;

$color-primary: #135FCB;
$color-primary-dark: #033E92;

$color-grey-light-1: #CBCED1  ;
$grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-grey-dark-4: #525456;
$color-grey-light-2:  #F3F4F6;
$color-grey-light-3: #ECEDEE   ;

$color-black: #262626;
$color-black-2: #616161;

$color-1: #F61E7D;
$color-2: #F64F1E;
$color-3: #8AF61E;
$color-4: #1E83F6;