.section-intro {
    margin-top: 3rem;
}

.section-content {
    height: 75vh;
    margin-top: 5rem;
    
}

.footer {
    background-color: $color-grey-light-2;
    height: 85rem;
    padding: 2.5rem;
    margin-top: -3rem;
    z-index: 0;
}